data/
output/
.venv/
.venv-*/
__pycache__/
*.pyc
.DS_Store
tools/**/*.jar
tools/**/*.img
tools/**/*.tdb
tools/**/*.pbf
tools/**/*.tif
tools/**/*.osm
tools/**/*.torrent
tools/phyghtmap-*/
tools/examples/
tools/doc/
tools/splitter-*/
tools/mkgmap-*/
tools/__pycache__/
phyghtmap_2.23.orig.tar.gz
